body{
background-color:#ffd;
color:black;
font-family:Monospace;}
h1,nav,.pagebox{
text-align:center;
justify-content:center;}
h1{
background-color:#f885;
padding:5px;
border-radius:5px;}
nav{
background-color:#888a;
padding:2px;
border-radius:10px;}
.sticker{
position: fixed;
bottom: 5px;
left: 5px;
width: 32px;
opacity: 0.6;
transition: opacity 0.2s ease, transform 0.3s ease;}
.sticker:hover {
transform: scale(1.1);
opacity: 1;}
.pagebox{
background-color:#aaaa;
font-size:20px;
padding:20px;
margin-left:10%;
margin-right:10%;
margin-top:20px;}
#pagecont{
text-align: right;
font-size: 25px;
text-decoration: none;
display: inline-block;
transition:transform 0.5s cubic-bezier(0.41, 0.26, 0.69, 1.98);}
#pagecont:hover{
transform: scale(1.05);}
#pageimg{
width: 100%;
height: auto;
display: block;
margin: 0 auto;
max-width: 550px;
object-fit: contain;}
